@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
nav{
  height: 70px;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
nav h1{
  font-size: 45px;
  position: absolute;
  margin: 10px 85px;
}
nav ul{
  float: right;
  padding-right: 85px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
  font-size: 22px;
  font-family: Source Sans Pro;
  font-weight: 700;
}
nav ul li a{
  color: black;
}
.menu-toggle{
  color: black;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  padding-top: 15px;
  padding-right: 50px;
  display: none;
}
.home{
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-top: -80vh;
}
.home-left{
  padding-left: 6%;
}
.home-left h1{
  font-size: 70px;
}
.home-right{
  width: 45%;
}
.home-img{
  float: right;
  margin-right: 7%;
  width: 80%;
}
.about{
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-left{
  width: 45%;
  font-size: 70px;
}
.about-img{
  width: 100%;
}
.abot-right{
  float: right;
  margin-left: 7%;
  width: 30%;
}
.abot-right h1{
  font-size: 50px;
  padding-bottom: 18px;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.abot-right p{
  font-size: 20px;
  font-family: Source Sans Pro;
}
.features{
  padding:0% 10%;
}
.features-part1{
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-part1-left{
 width: 45%;
}
.features-part1-left h1{
  padding-right: 10%;
  font-size: 50px;
  padding-bottom: 18px;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.features-part1-left p{
  font-size: 20px;
  font-family: Source Sans Pro;
}
.features-part1-right{
  float: right;
  width: 50%;
}
.features-part1-img{
  width: 100%;
}
.features-part2{
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-part2-left{
  width: 50%;
}
.features-part2-right{
  float: right;
  width: 40%;
}
.features-part2-img{
  width: 100%;
}
.features-part2-right h1{
  padding-right: 10%;
  font-size: 50px;
  padding-bottom: 18px;
  font-family: Source Sans Pro;
  font-weight: 600;
}
.features-part2-right p{
  font-size: 20px;
  font-family: Source Sans Pro;
}
.gallery{
  padding-left: 20%;
  width: 80%;
  margin-bottom: 100px;
}
.contactus-head{
  text-align:center ;
}
.contactus{
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10%;
  margin-top: 45px;
  margin-bottom: 85px;
}
.contactus-left{
width: 45%;
padding-right: 5%;
}
.contactus-right{
 float: right;
 width: 50%;
}
@media (max-width : 900px){
  
  .menu-toggle{
    display: block;
  }
  #menu{
    /*display: none;*/
    position: absolute;
    width: 100%;
    background: white;
    top: 65px;
    left: 0;
    transition: 0.5s;
    z-index: 10;
  }
  #menu  li{
    display: block;
    text-align: center;
  }
  .home{
    padding-left: 3%;
    padding-right: 3%;
  }
  .home-right , .home-img {
    display: none;
    width: 50%;
  }
  .home-left{
    padding: 6%;
    text-align: center;
  }
  .about{
    display: block;
  }
  .about-left{
    width: 100%;
    padding: 0 40px;
    align-items: center;
    padding-left: 20%;
  }
  .abot-right{
    width: 90%;
    padding-right: 80px;
  }
  .about-img{
    width:80%
  }
  .features-part1-left{
     width:100%
  }
  .features-part1-right{
    width:100%
  }
  .features-part1-img{
    width:80%
  }
  .features-part1{
    display: block;
  }
  .features-part2-left{
    width:100%
  }
  .features-part2-right{
    width:100%
  }
  .features-part2{
    display: block;
  }
  .features-part2-img{
    width:80%
  }
}
.footer-copy{
  text-align: center;
  background-color: #34495e;
  padding: 50px;
  font-size: 20px;
  color: aliceblue;
}
@media (max-width : 800px){
  .home-left h1{
    font-size: 40px;
  }
  .features-part1{
    display: flex;
    flex-direction: column;
  }
  .features-part1-right{
    order: 1;
  }
  .features-part1-left{
    order: 2;
  }
  .gallery{
    padding-left: 0%;
    width: 100%;
    margin-bottom: 100px;
  }
  .contactus-left{
    width: 100%;
  }
  .contactus-right{
    width:100%
  }
  .contactus{
    display: block;
  }
}